* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: bold, sans-serif;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.Contenitore {
    background-color: #255ee9;
    text-align: center;
    position: relative;
    height: 55px;
}

.link {
    color: white;
    padding-right: 2rem;
    line-height: 55px;
}

.link, .Bottone {
    text-decoration: none;
    font-weight: bold;
}

.Bottone {
    border-radius: 20%/50%;
    width: 70px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 15%;
    right: 15%;
    color: #494c4f;
}

.logo {
    position: absolute;
    top: 15%;
    right: 76%;
}

.corpo {
    font-family: sans-serif;
}

/*sezione 1*/

.sec-1 {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 470px;
}

.container1 {
    padding-top: 6rem;
    float: left;
    color: white;
    text-align: center;
}

.title, .text {
    padding: 10px 0;
}

.title {
    font-size: 50px;
}

.text {
    padding-left: 22rem;
    text-align: center;
    word-wrap: break-word;
    width: 72%;
    padding-bottom: 2rem;
    line-height: 30px;
}

.button-1 {
    margin-right: 2rem;
    border-radius: 10%/50%;
    padding: 12px;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    color: #494c4f;
}

.button-2 {
    border-radius: 5%/50%;
    padding: 13px;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/*sezione 2*/

.container2 {
    padding: 8rem 0 5rem 10rem;
    float: left;
    width: 100%;
}

.rana {
    float: right;
    width: 600px;
}

.titolo {
    word-wrap: break-word;
    width: 290px;
    line-height: 50px;
    font-size: 40px;
}

.par {
    padding-top: 2rem;
    word-wrap: break-word;
    width: 294px;
    line-height: 25px;
}

/*sezione 3*/

.container3 {
    background-color: #f6f6f6;
    padding: 5rem 0 5rem 10rem;
    width: 100%;
    float: left;
    padding-top: 5rem;
}

.chat {
    float: right;
}

.titolo2 {
    padding: 2rem 0 0 2rem;
    word-wrap: break-word;
    width: 290px;
    line-height: 50px;
    font-size: 40px;
}

.par2 {
    padding: 2rem 0 0 2rem;
    word-wrap: break-word;
    width: 350px;
    line-height: 25px;
}

/*sezione 4*/

.container4 {
    padding: 5rem 0 5rem 10rem;
    width: 100%;
    float: left;
    padding-top: 5rem;
}

.chatvocale {
    float: left;
}

.titolo3 {
    padding: 2rem 0 0 2rem;
    word-wrap: break-word;
    width: 290px;
    line-height: 50px;
    font-size: 40px;
}

.par3 {
    padding: 2rem 0 0 2rem;
    word-wrap: break-word;
    width: 340px;
    line-height: 25px;
}

/* Sezione 5*/

.container5 {
    background-color: #f6f6f6;
    padding: 5rem 0 5rem 10rem;
    width: 100%;
    float: left;
    padding-top: 5rem;
}

.Webcam {
    padding-left: 7rem;
}

.titolo4 {
    width: 85%;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}

.par4 {
    word-wrap: break-word;
    padding-top: 1rem;
    padding-left: 6rem;
    line-height: 25px;
    text-align: center;
    width: 75%;
}

.stelle {
    padding-left: 26rem;
    padding-top: 1rem;
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-position-x: 300px;
    padding-bottom: 2rem;
}

.button-3 {
    margin-left: 450px;
    border-left: 5rem;
    border-radius: 10%/50%;
    padding: 9px;
    width: 160px;
    background-color: #8ea1e1;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/*aggiustamenti*/

.col-40 {
    width: 40%;
}

.col-60 {
    width: 53%;
    padding-right: 5rem
}

.col-40, .col-60 {
    float: left;
}

.debug .col-60 {
    background-color: chocolate;
}

.debug .col-40 {
    background-color: cyan;
}